* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

nav {
  width: 100%;
  background-color: black;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-size: 20px;
}

.menu a {
  margin-left: 10px;
  color: white;
  position: relative;
  bottom: 40px;
}

.shoe-name {
  padding: 10px;
}

.shoe-1 img {
  width: 20rem;
  margin: 10px;
}

.shoe-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: azure;
  border: 1px solid black;
  width: 79%;
  margin: 0px auto;
  border-radius: 9px;
  margin-bottom: 10px;
}

.shoe-info {
  width: 20%;
  font-size: 1.3rem;
}

.buy-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: #d9ffff;
  color: black;
  width: 10%;
  padding: 10px;
  cursor: pointer;
  font-weight: 100;
  font-style: bold;
}

.red {
  color: red;
}

.page-hero {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.brand {
  width: 30%;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  position: relative;
  top: 1px;
}

.brand h1 {
  color: white;
  font-size: 1.9vw;
}
label {
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  font-size: 30px;
  float: right;
  position: relative;
  bottom: 30px;
  background-color: red;
  display: none;
}

input {
  display: none;
}

@media (max-width: 712px) {
  .menu {
    text-align: center;

    display: none;
  }

  .main {
    padding: 3px 5px;
  }
  .brand {
    width: 350px;
  }
  .buy-now {
    padding: 10px;
    margin: 35px;
    font-size: 01rem;
    background-color: #d9ffff;
    width: 30%;
    color: red;
    text-decoration: bold;
  }
  .shoe-1 {
    width: 99%;
  }

  .shoe-1-info {
    width: 99%;
    font-size: 1.2rem;
  }

  img {
    width: 20vw;
    margin: 20px;
  }

  .shoe-info {
    width: 99%;
    font-size: 1.1rem;
    margin: 3px 2px 2px;
    padding: 1px 2px 3px;
  }

  label {
    display: block;
    background-color: white;
    color: black;
    position: relative;
    bottom: 50px;
  }
  a {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
  }

  .menu a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  input[type="checkbox"]:checked ~ div {
    display: block;
  }
  .shoe-1 img {
    width: 30vw;
  }
  .brand h1 {
    font-size: 5.9vw;
  }
}
