* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

nav {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-size: 20px;
}

.menu a {
  margin-left: 10px;
}

.brand {
  width: 30%;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  position: relative;
  top: 30px;
  font-size: 20px;
}
label {
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  font-size: 30px;
  float: right;
  position: relative;
  bottom: 30px;
  background-color: red;
  display: none;
}

input {
  display: none;
}

@media (max-width: 590px) {
  .menu {
    text-align: center;
    width: 100%;

    display: none;
  }
  .brand {
    width: 350px;
    background-color: red;
  }

  label {
    display: block;
    background-color: white;
    color: black;
    position: relative;
    bottom: 50px;
  }
  a {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .menu a {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid red;
    margin: 0;
  }

  .toggle input:checked + .menu a {
    display: block;
  }
}
